body {
	background-color: #f7fdff;
}
::-webkit-input-placeholder {
  color: #2860ba;
}

.up {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.in {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#teacheID{
	top: 40%;
}

#login{
	top: 40%;
}

#loginReg{
    top: 53%;
}

#password {
	top: 53%;
}

#passwordReg {
	top: 66%;
}

#submitIn{
	width: 20%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 68%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#submitUp{
	width: 20%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 81%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#Auth, #Reg{
	color: #79a2e5;
	position: absolute;
    top: 10%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: 'Times New Roman', Times, serif;
    font-size: 450%;
	position: absolute;
}

#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}
	
#windowIn, #windowUp, #windowOut{
	display: none;
	width: 55%;
	height: 40%;
	margin: 110px auto;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	text-align: center;
}

#signIn{
	width: 6%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 1%;
	right: 8%;
}

#signUp{
	width: 6%;
	background-color: #FFFFFF;
	color: #2860ba;
	outline: 1px solid #2860ba;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 1%;
	right: 1%;
}

#signOut{
	display: none;
	width: 6%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 1%;
	right: 1%;
}

#chech{
	width: 10%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#Pib{
	color: white;
	text-align: right;
	position: absolute;
	font-size: 16px;
	top: 0.5%;
	right: 8%;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.NavchPlan {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar button:hover, .dropdown:hover {
	background-color: #2860ba;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content button {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

button:hover, .dropdown-content:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdownButton{
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdownButton:hover{
	color:white;
}

#authOk{
	display: none;
}

table.minimalistBlack {
	display:none;
	font-family: "Times New Roman", Times, serif;
	border: 2px solid #000000;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

table.minimalistBlack td, table.minimalistBlack th {
	border: 2px solid #000000;
	padding: 5px 0px;
}

table.minimalistBlack tbody td {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

table.minimalistBlack thead {
	background: #333;
	border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}