body {
	background-color: #f7fdff;
}

::-webkit-input-placeholder {
  color: #2860ba;
}

.up {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.in {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#teacheID{
	top: 40%;
}

#login1{
	top: 40%;
}

#login2{
    top: 53%;
}

#password1 {
	top: 53%;
}

#password2 {
	top: 66%;
}

#submit1{
	width: 20%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 68%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#submit2{
	width: 20%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 81%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}


#Auth, #Reg{
	color: #79a2e5;
	position: absolute;
    top: 10%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: 'Times New Roman', Times, serif;
    font-size: 450%;
	position: absolute;
}

#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}
	
#window1, #window2{
	display: none;
	width: 55%;
	height: 40%;
	margin: 110px auto;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	text-align: center;
}

#signIn{
	width: 6%;
	background-color: #2860ba;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 2%;
	right: 8%;
}

#signUp{
	width: 6%;
	background-color: #FFFFFF;
	color: #2860ba;
	outline: 1px solid #2860ba;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 2%;
	right: 1%;
}

#chech{
	width: 10%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
